.language {
    display: flex;
    align-items: center;
    width: 164px;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 12px;
    padding-left: 12px;
    margin-right: 10px;
}

.text {
    margin-left: 8px;
    font-size: 16px;
    line-height: 24px;
    color: #1B1B1B;
    text-transform: capitalize;
}

@media(max-width: 750px) {
    .language {
        width: 130px;
        margin-bottom: 6px;
    }

    .language img{
        width: 22px;
        height: 22px;
    }
}

@media(max-width: 420px) {
    .text {
        font-size: 14px;
        line-height: 20px;
    }
}